WEB3FORMS_ACCESS_KEY=4299c06e-02e2-4e3a-9503-c164a932ec4b
NEXT_PUBLIC_CHECKOUT_URL=
NEXT_PUBLIC_KLAVIYO_COMPANY_ID=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
ADMIN_EMAILS=sahiljainsj004@gmail.com,support@buudy.com
